@charset "UTF-8";

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #000;
  line-height: 1;
  font-family: "Segoe UI";
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Segoe UI";
  font-size: inherit;
  line-height: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стилі будуть застосовуватись до
всіх класів, що містять *__container
Наприклад header__container, main__container і т.п.
Сніппет (HTML): cnt
*/

[class*=__container] {
  max-width: 71.25rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

.tabs__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.tabs__title {
  border: 1px solid #eee;
  padding: 0.625rem 0.9375rem;
  border-radius: 0.3125rem;
}

.tabs__title._tab-active {
  border: 1px solid #000;
}

.tabs__content {
  border: 1px solid #eee;
  padding: 0.625rem 0.9375rem;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.header {
  border: 1px solid #bbbbbb;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.625rem;
  min-height: 4.5625rem;
}

.header__logo {
  font-weight: 700;
  position: relative;
  z-index: 3;
}

.icon-menu {
  display: none;
}

.footer {
  border-top: 1px solid #bbbbbb;
}

.footer__container {
  padding-top: 1.125rem;
  padding-bottom: 1.125rem;
}

.footer__lic {
  text-align: center;
}

.page__main {
  margin-bottom: 4.0625rem;
}

.main__container {
  padding-top: 3.125rem;
}

.main__title {
  font-size: 1.4375rem;
  line-height: 1.3913043478;
  max-width: 68.75rem;
  font-weight: 700;
  margin-bottom: 2.0625rem;
}

.tabs-main__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.875rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 1.875rem;
  row-gap: 0.875rem;
}

.tabs-main__title {
  padding: 1.0625rem 2.25rem;
  background-color: #000;
  color: #fff;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  border-radius: 0.9375rem;
}

.tabs-main__row {
  --columns: 3;
  --gap: 30px;
  --gap-columns: calc(var(--columns) - 1);
  --gap-count: calc(var(--gap) / var(--columns) * var(--gap-columns));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: var(--gap);
}

.tabs-main__column {
  -ms-flex-preferred-size: calc(100% / var(--columns) - var(--gap-count));
      flex-basis: calc(100% / var(--columns) - var(--gap-count));
}

.item-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  min-height: 100%;
}

.item-main__image {
  margin-bottom: 1.1875rem;
  position: relative;
  padding-bottom: 65.714286%;
  /* 230/350 */
  padding-right: 100%;
}

.item-main__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.item-main__title {
  margin-bottom: 1.1875rem;
  font-weight: 700;
  font-size: 1.1875rem;
  line-height: 1.1578947368;
}

.item-main__text {
  margin-bottom: 1.625rem;
  max-width: 21.875rem;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.item-main__text p:not(:last-child) {
  margin-bottom: 1.25rem;
}

.item-main__button {
  padding: 1.0625rem 2.25rem;
  background-color: #000;
  color: #fff;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  border-radius: 0.9375rem;
}

@media (min-width: 47.99875em) {
  .menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .menu__list > li > a {
    padding: 0.75rem 1.375rem;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
  }
}

@media (min-width: 71.25em) {
  .header__logo {
    font-size: 1.875rem;
  }
}

@media (max-width: 20em) {
  .header__logo {
    font-size: 1.5625rem;
  }
}

@media (max-width: 47.99875em) {
  .menu__body {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: #258f93;
    overflow: auto;
    padding: 7.5rem 0.9375rem 1.875rem 0.9375rem;
    -webkit-transition: left 0.3s;
    -o-transition: left 0.3s;
    transition: left 0.3s;
    z-index: 2;
  }

  .menu-open .menu__body {
    left: 0;
  }

  .menu__body::before {
    content: "";
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 4.5625rem;
    background-color: #fff;
    -webkit-transition: left 0.3s;
    -o-transition: left 0.3s;
    transition: left 0.3s;
  }

  .menu-open .menu__body::before {
    left: 0;
  }

  .menu__list > li {
    text-align: center;
  }

  .menu__list > li:not(:last-child) {
    margin-bottom: 1.25rem;
  }

  .menu__list > li > a {
    color: #fff;
    font-size: 2rem;
  }

  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    z-index: 5;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #000;
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .main__title {
    text-align: center;
  }

  .tabs-main__navigation {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .tabs-main__row {
    --columns: 2;
  }
}

@media (max-width: 47.99875em) and (any-hover: none) {
  .icon-menu {
    cursor: default;
  }
}

@media (max-width: 29.99875em) {
  .tabs-main__row {
    --columns: 1;
  }
}

@media (min-width: 20em) and (max-width: 71.25em) {
@supports (font-size: clamp( 1.5625rem , 1.4405487805rem  +  0.6097560976vw , 1.875rem )) {
    .header__logo {
      font-size: clamp( 1.5625rem , 1.4405487805rem  +  0.6097560976vw , 1.875rem );
    }
}

@supports not (font-size: clamp( 1.5625rem , 1.4405487805rem  +  0.6097560976vw , 1.875rem )) {
    .header__logo {
      font-size: calc(1.5625rem + 0.3125 * (100vw - 20rem) / 51.25);
    }
}
}

@media (any-hover: hover) {
  .menu__list > li > a:hover {
    color: #fff;
    background-color: #258f93;
  }

  .tabs-main__title:hover {
    background-color: #fff;
    color: #000;
  }

  .item-main__button:hover {
    background-color: #fff;
    color: #000;
  }
}